@font-face{
    font-family:"Proxima Nova Regular";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Regular-36b59421bdc34fd9869a7541c47d5f157ff19eb183032efff759c4d5be5d9cae.otf);
    src:url('../proxima-nova/woff/proxima-nova-regular.woff');
    src:url('../proxima-nova/woff2/proxima-nova-regular.woff2');
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:"Proxima Nova Light";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Light-a7ec928e7a2b2cc60363c91ea2fbcfa4ef155a02ad611d5b26dff2d233cede8c.otf);
    src:url('../proxima-nova/woff/proxima-nova-light.woff');
    src:url('../proxima-nova/woff2/proxima-nova-light.woff2');
}
@font-face{
    font-family:"Proxima Nova Black";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Black-59469ec525060045b821d6779cd5360e2fd466adea260a23373314209d9a807b.otf);
    src:url('../proxima-nova/woff/proxima-nova-black.woff');
    src:url('../proxima-nova/woff2/proxima-nova-black.woff2');
}
@font-face{
    font-family:"Proxima Nova Bold";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Bold-fa617e6195b48622cd13742f0a33f41bd0a3f8b5689424c90f6cba97d4679644.otf);
    src:url('../proxima-nova/woff/proxima-nova-bold.woff');
    src:url('../proxima-nova/woff2/proxima-nova-bold.woff2');
    font-weight: normal;
}
@font-face{
    font-family:"Proxima Nova Regular Italic";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Regular-Italic-3930b63f1ad11d9d601c136875ec21c4c5115a0e2480814fc2cf517567c742ed.otf);
    src:url('../proxima-nova/woff/proxima-nova-regular-italic.woff');
    src:url('../proxima-nova/woff2/proxima-nova-regular-italic.woff2');
}
@font-face{
    font-family:"Proxima Nova Bond Italic";
    src:url(https://atom.spoysozvezdoy.ru/assets/Proxima-Nova-Bold-Italic-91ea8b76828dd6963ab67a011ef4d0a1f3e24aa1c8d6361816bd932a5d4e41e5.otf);
    src:url('../proxima-nova/woff/proxima-nova-bold-talic.woff');
    src:url('../proxima-nova/woff2/proxima-nova-bold-talic.woff2');
}