/** =================== MONTSERRAT =================== **/

/** Montserrat Regular **/
@font-face {
    font-family: "montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("montserrat-regular.eot");
    src: url("montserrat-regular.eot?#iefix") format('embedded-opentype'),
         url("montserrat-regular.woff2") format("woff2"),
         url("montserrat-regular.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "montserrat bold";
    font-weight: 700;
    font-style: normal;
    src: url("montserrat-bold.eot");
    src: url("montserrat-bold.eot?#iefix") format('embedded-opentype'),
         url("montserrat-bold.woff2") format("woff2"),
         url("montserrat-bold.woff") format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Regular **/
/*@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("MontserratAlternates-Regular.eot");
    src: url("MontserratAlternates-Regular.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternates-Regular.woff2") format("woff2"),
         url("MontserratAlternates-Regular.woff") format("woff");
}
*/
/** Montserrat Alternates Bold **/
/*@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("MontserratAlternates-Bold.eot");
    src: url("MontserratAlternates-Bold.eot?#iefix") format('embedded-opentype'),
         url("MontserratAlternates-Bold.woff2") format("woff2"),
         url("MontserratAlternates-Bold.woff") format("woff");
}*/